# Backend node name
ALI_DIST_NODE=alighieri@resolvable-hostname

# Controller node name
# Set to "dummy" to use the dummy client
ALI_DIST_CONTROLLER_NODE=alictr@resolvable-hostname

# Distribution cookie
ALI_DIST_COOKIE=dantes-inferno

# Credentials to use the backend API
ALI_USERNAME=qqa
ALI_PASSWORD=aqq

# Address and port to bind to
ALI_LISTEN_ADDRESS=0.0.0.0
ALI_LISTEN_PORT=1321

# Name and channel name of the connected Dante USB encoder
# used for identifying devices in the network
ALI_IDENT_DEVICE_NAME=my-dante-device
ALI_IDENT_DEVICE_CHANNEL=CH1
